*{margin:0;padding:0}
.container{
    width: 100vw;
    height: 100vh;
    /*position: relative;*/
    background: url('../img/map.png') ;
    background-size: 100% 100%;
}

.r1{
    -moz-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
}

.r2{
    -moz-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);
    -o-transform:rotate(2deg);
}
